<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="stylesheets/main.css" />
        <script src="javascript/scripts.js" async></script>
        <title>Breakfast with Kanye</title>
    </head>
    <body>
        <div id="background-top" class="background-top">
            <img class="top" src="images/image_one.png" />
            <img class="top" src="images/image_two.png" />
            <img class="top" src="images/image_three.png" />
            <img class="top" src="images/image_four.png" />
            <div class="content">
                <div class="text-container">
                    <h2>breakfast with</h2>
                    <h1>Kanye</h1>
                    <form action="/register" method="POST">
                        <input
                            type="email"
                            placeholder="Email Address"
                            name="email"
                        />
                        <button id="submit" type="submit">Subscribe</button>
                    </form>
                </div>
                <img id="kanye" src="images/kanye_one.png" alt="" />
            </div>
        </div>
        <!-- <div class="main-body"></div> -->
    </body>
</html>
